.friendListContainer {
  position: relative;
  min-width: 480px;
  box-shadow: 0 54px 55px rgba(238, 143, 66, 0.25);
  border-radius: 10px;
}
.title {
  text-align: center;
  padding: 5px 0;
  background-color: #f15e09;
  /* font-family: "Pacifico", cursive; */
  font-family: "Arial", cursive;
  letter-spacing: 5px;
  border-radius: 10px;
  color: #fff;
}
.searchBox {
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
}
.searchBox input {
  width: 85%;
  font-size: 16px;
  border: none;
  padding: 12px 10px;
  letter-spacing: 1.5px;
  background-color: #f5f36c;
  border-radius: 20px;
  font-weight: 600;
  color: #f52c09;
}
.searchBox input:focus {
  border: none;
  outline: none;
}
.friendListItems {
  margin-bottom: 90px;
}
.friendListItems-ul {
  list-style-type: none;
  margin-bottom: 30px;
}
.friendListItems-ul li {
  margin: 5px auto;
  width: 95%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}
.friendListItemsContent strong {
  margin: 5px 0;
  display: inline-block;
  letter-spacing: 1px;
  color: #202020;
}
.friendListItemsContent span {
  font-size: 12px;
  letter-spacing: 1px;
  color: grey;
}
.friendListItemsActions button {
  margin: 0 5px;
  padding: 5px;
  background-color: #c5e4e7;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
}
.pagination-container {
  display: flex;
  list-style-type: none;
}
.pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;
}
.pagination-item.dots:hover,
.pagination-item:hover {
  background-color: transparent;
  cursor: pointer;
}
.pagination-item.selected {
  background-color: #00494d;
  color: #fff;
}
.pagination-item.arrow:before {
  position: relative;
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.pagination-item.arrow.left {
  -webkit-transform: rotate(-135deg) translate(-50%);
  transform: rotate(-135deg) translate(-50%);
}
.pagination-item.arrow.right {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.pagination-item.disabled {
  pointer-events: none;
}
.pagination-item.disabled .arrow:before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}
.popup-box {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.box {
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: auto;
}
.deletePopup {
  width: 350px;
  height: 180px;
  background-color: #c5e4e7;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
.modalActionButtons {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.modalActionButtons button {
  width: 100px;
  padding: 7px;
  border: none;
  background-color: #00494d;
  color: #fff;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
}
.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/*# sourceMappingURL=main.a69d1760.chunk.css.map */
